In [105]:
# import data to SQL

import pymysql.cursors
from sqlalchemy import create_engine
from sqlalchemy import text
import pandas as pd
import config
pw=config.pw

In [4]:
#import the data to mySQL

def convert_pd_df_tosql(file_name,table_name,schema='orphanet'):
    import config
    pw=config.pw
    connection_string = 'mysql+pymysql://root:' + pw + '@127.0.0.1:3306/'
    engine = create_engine(connection_string)
    df = pd.read_csv(file_name, index_col=False)
    df.to_sql(table_name,engine,schema,index=False, chunksize=5000,if_exists='replace')
    return 'Created table'

In [ ]:
#import disease definitions
file_name='processed_data\orpha_nomenclature.csv'
table_name='orpha_definitions'
convert_pd_df_tosql(file_name,table_name,schema='orphanet')

# import primary diseases table
file_name='processed_data\orpha_linearized.csv'
table_name='orpha_diseases'
convert_pd_df_tosql(file_name,table_name,schema='orphanet')

#import HPO ontology
file_name='processed_data\HPO.csv'
table_name='HPO_ontology'
convert_pd_df_tosql(file_name,table_name,schema='orphanet')

In [135]:
#import clinical annotations
file_name='processed_data\clinical_annotations.csv'
table_name='clinical_annotations'
convert_pd_df_tosql(file_name,table_name,schema='orphanet')

'Created table'

In [136]:
#import extracted terms
file_name='processed_data\extracted_HPO_terms.csv'
table_name='extracted_hpo_terms'
convert_pd_df_tosql(file_name,table_name,schema='orphanet')

'Created table'

In [76]:
#Function to define primary key
def define_PK(table, col_name):
    import config
    pw=config.pw


    connection_string = 'mysql+pymysql://root:' + pw + '@127.0.0.1:3306/orphanet'
    engine = create_engine(connection_string)
    with engine.connect() as con:
        con.execute(f'ALTER TABLE {table} ADD PRIMARY KEY  ({col_name});')

In [137]:
#Function to define primary key
def composite_PK(table, col_name,col_name_2):
    import config
    pw=config.pw
    
    

    connection_string = 'mysql+pymysql://root:' + pw + '@127.0.0.1:3306/orphanet'
    engine = create_engine(connection_string)
    with engine.connect() as con:
        #con.execute(f'ALTER TABLE {table} DROP PRIMARY KEY;')
        con.execute(f'ALTER TABLE {table} ADD PRIMARY KEY  ({col_name},{col_name_2});')
#composite_PK('extracted_HPO_terms', 'OrphaCode','HPO_ID')
composite_PK('clinical_annotations', 'OrphaCode','HPO_ID')

In [77]:
define_PK('orpha_definitions','OrphaCode')

In [ ]:
define_PK('orpha_diseases','OrphaCode')
define_PK('HPO_ontology','ID')

In [130]:
# Data cleaning - codes inconsistent between tables, visualisng the codes that are missing from main tabel
# but present in  clinical annotations table

def deduplicate_code_anomalies(table_1,table_2):


    connection_string = 'mysql+pymysql://root:' + pw + '@127.0.0.1:3306/orphanet'
    engine = create_engine(connection_string)


    # load the clinical_annotations table and orpha disease table into a dataframe
    query = f'SELECT * FROM {table_1}'
    df_1 = pd.read_sql_query(query, engine)
    print(df1.duplicated(subset=['OrphaCode','HPO_ID']).sum())

   # query = f'SELECT * FROM {table_2}'
    #df_2 = pd.read_sql_query(query, engine)
    #display(df1.duplicated(subset=['OrphaCode','HPO_ID']).sum())
    return df1
    
    
df1=deduplicate_code_anomalies('extracted_HPO_terms','clinical_annotations', )

KeyError: Index(['HPO_ID'], dtype='object')

In [128]:
df1.head()

,OrphaCode,Name,DisorderType,ClassificationLevel,Definition
0,166024,"Multiple epiphyseal dysplasia, Al-Gazali type",Disease,Disorder,A rare primary bone dysplasia characterized by...
1,58,Alexander disease,Disease,Disorder,A rare neurodegenerative disorder of the astro...
2,166032,"Multiple epiphyseal dysplasia, with miniepiphyses",Disease,Disorder,"Multiple epiphyseal dysplasia, with miniepiphy..."
3,61,Alpha-mannosidosis,Disease,Disorder,An inherited lysosomal storage disorder charac...
4,166029,"Multiple epiphyseal dysplasia, with severe pro...",Disease,Disorder,"Multiple epiphyseal dysplasia, with severe pro..."

In [108]:
visualise_code_anomalies('orpha_definitions', 'orpha_diseases', 'OrphaCode','OrphaCode')

(dtype('int64'),
 dtype('int64'),
 44,
 {55,
  92,
  99,
  148,
  255,
  262,
  352,
  370,
  385,
  437,
  442,
  506,
  535,
  557,
  738,
  754,
  801,
  1505,
  1991,
  2346,
  2442,
  70482,
  79168,
  79357,
  79358,
  88673,
  90970,
  93430,
  98028,
  98292,
  98293,
  98375,
  100076,
  100077,
  100100,
  181393,
  217607,
  226292,
  228312,
  261911,
  262767,
  306498,
  398073,
  457059})

In [94]:
visualise_code_anomalies('extracted_hpo_terms', 'orpha_diseases', 'OrphaCode','OrphaCode')

(dtype('int64'),
 dtype('int64'),
 406,
 {155,
  264,
  265,
  336,
  338,
  357,
  362,
  374,
  378,
  426,
  431,
  435,
  453,
  463,
  489,
  619,
  625,
  651,
  665,
  669,
  706,
  771,
  825,
  855,
  918,
  965,
  966,
  995,
  1011,
  1044,
  1088,
  1092,
  1102,
  1137,
  1153,
  1155,
  1162,
  1167,
  1211,
  1219,
  1235,
  1239,
  1251,
  1256,
  1258,
  1260,
  1266,
  1271,
  1301,
  1339,
  1376,
  1408,
  1409,
  1432,
  1474,
  1480,
  1492,
  1526,
  1533,
  1549,
  1557,
  1564,
  1611,
  1625,
  1648,
  1654,
  1674,
  1678,
  1680,
  1773,
  1789,
  1792,
  1800,
  1804,
  1819,
  1823,
  1831,
  1838,
  1844,
  1849,
  1863,
  1864,
  1877,
  1940,
  1956,
  1981,
  2029,
  2042,
  2051,
  2055,
  2060,
  2081,
  2099,
  2112,
  2113,
  2120,
  2124,
  2125,
  2129,
  2156,
  2161,
  2243,
  2284,
  2352,
  2355,
  2389,
  2419,
  2453,
  2454,
  2458,
  2474,
  2486,
  2506,
  2507,
  2535,
  2543,
  2569,
  2626,
  2640,
  2641,
  2649,
  2661,
  2675,
  2676,
  2679,
  2687,
  2689,
  2691,
  2694,
  2716,
  2739,
  2742,
  2816,
  2823,
  2829,
  2837,
  2853,
  2860,
  2861,
  2864,
  2870,
  2894,
  2895,
  2981,
  2998,
  3029,
  3043,
  3046,
  3050,
  3056,
  3059,
  3062,
  3064,
  3065,
  3067,
  3084,
  3087,
  3105,
  3106,
  3112,
  3118,
  3122,
  3123,
  3128,
  3133,
  3153,
  3185,
  3195,
  3212,
  3213,
  3215,
  3221,
  3228,
  3284,
  3311,
  3323,
  3331,
  3332,
  3333,
  3336,
  3340,
  3349,
  3354,
  3360,
  3362,
  3423,
  3438,
  3446,
  3450,
  26823,
  28455,
  34145,
  34521,
  34527,
  35066,
  35688,
  37629,
  50816,
  50920,
  52183,
  54238,
  63261,
  64738,
  64740,
  67037,
  70470,
  71291,
  73220,
  73247,
  73274,
  75789,
  75790,
  77241,
  77242,
  77243,
  77304,
  79022,
  79132,
  79289,
  79344,
  79482,
  79504,
  82004,
  83618,
  83648,
  84096,
  84271,
  85281,
  85289,
  85291,
  85318,
  85328,
  85330,
  85331,
  85333,
  85337,
  89833,
  89845,
  90022,
  90185,
  90287,
  90338,
  90339,
  90341,
  91353,
  91365,
  93280,
  93313,
  93385,
  93389,
  93393,
  93395,
  93559,
  93594,
  93942,
  93943,
  93951,
  93962,
  93963,
  93968,
  93974,
  93975,
  94084,
  95449,
  95458,
  95623,
  95625,
  96136,
  96152,
  97295,
  97342,
  97557,
  97562,
  98345,
  98812,
  98836,
  98837,
  98867,
  98894,
  98941,
  99088,
  99096,
  99097,
  99108,
  99134,
  99142,
  99143,
  99146,
  99151,
  99166,
  99645,
  99648,
  99649,
  99694,
  99706,
  99900,
  100990,
  101022,
  101356,
  103912,
  103915,
  103916,
  103917,
  137653,
  137658,
  137862,
  137923,
  156156,
  156723,
  157788,
  157980,
  158796,
  158799,
  162521,
  163673,
  163898,
  163914,
  163924,
  163953,
  163988,
  168448,
  168972,
  171201,
  171208,
  171714,
  171836,
  178330,
  178503,
  206616,
  208600,
  209886,
  217031,
  217034,
  221106,
  221150,
  225968,
  228407,
  228418,
  243377,
  243761,
  248305,
  251633,
  251891,
  254712,
  254723,
  255117,
  268871,
  269200,
  276402,
  280110,
  280569,
  289527,
  293838,
  293848,
  294049,
  306507,
  306539,
  319691,
  319698,
  319705,
  329206,
  329252,
  329255,
  329341,
  352482,
  352487,
  352497,
  352504,
  352740,
  353225,
  363543,
  363629,
  369902,
  370006,
  370114,
  370938,
  401825,
  411533,
  411969,
  415268,
  415300,
  415675,
  415687,
  423668,
  435623,
  443301,
  443304,
  443307,
  443310,
  443313,
  443316,
  443319,
  443322,
  449262,
  457252,
  458713,
  459353,
  459690,
  459696,
  464293,
  464463,
  477668,
  498700,
  519394,
  521268,
  521399})

In [80]:
visualise_code_anomalies('clinical_annotations', 'HPO_ontology', 'HPO_ID','ID')

(dtype('int64'),
 dtype('int64'),
 {57,
  284,
  487,
  535,
  547,
  655,
  720,
  833,
  1002,
  1006,
  1146,
  1163,
  1322,
  1380,
  1575,
  1578,
  1587,
  1724,
  1862,
  2109,
  2111,
  2189,
  2229,
  2271,
  2357,
  2459,
  2564,
  2631,
  2648,
  2695,
  2880,
  2924,
  2997,
  3116,
  3152,
  3335,
  3683,
  4355,
  4367,
  4495,
  4760,
  4782,
  4928,
  4929,
  4953,
  4954,
  5111,
  5130,
  5141,
  5296,
  5299,
  5309,
  5315,
  5364,
  5402,
  5848,
  5899,
  5901,
  5952,
  6436,
  6525,
  6901,
  6957,
  6984,
  7087,
  7095,
  7314,
  7409,
  7435,
  7519,
  7548,
  7702,
  7739,
  7744,
  7758,
  7920,
  7930,
  7945,
  7981,
  8033,
  8220,
  8230,
  8356,
  9042,
  11349,
  11357,
  11398,
  11498,
  12140,
  12201,
  12290,
  12369,
  12374,
  12455,
  12611,
  12677,
  25121,
  25191,
  25356,
  30276,
  31005,
  31698,
  40021,
  40065,
  40066,
  40073,
  40077,
  40083,
  40111,
  40166,
  40168,
  40180,
  40199,
  40215,
  40290,
  45009,
  100492,
  100805,
  100843,
  200095,
  200115,
  430026,
  500014})

In [96]:
visualise_code_anomalies('extracted_hpo_terms', 'HPO_ontology', 'HPO_ID','ID')

(dtype('int64'), dtype('int64'), 0, set())

In [81]:
visualise_code_anomalies('clinical_annotations','orphanet.orpha_diseases','OrphaCode','OrphaCode')

(dtype('int64'),
 dtype('int64'),
 {55,
  92,
  99,
  148,
  255,
  262,
  352,
  370,
  385,
  437,
  442,
  506,
  535,
  557,
  738,
  754,
  801,
  1505,
  1991,
  2346,
  2442,
  70482,
  79168,
  79357,
  79358,
  88673,
  90970,
  93430,
  98028,
  98292,
  98293,
  98375,
  100076,
  100077,
  100100,
  181393,
  217607,
  226292,
  228312,
  261911,
  262767,
  306498,
  398073,
  457059})

In [ ]:
# Data cleaning - fixing incoherences between main disease table and clinical annotations table

def remove_code_anomalies(table_1,table_2, id_1,id_2):
    
    connection_string = 'mysql+pymysql://root:' + pw + '@127.0.0.1:3306/orphanet'
    engine = create_engine(connection_string)

    # load the clinical_annotations table and orpha disease table into a dataframe
    query = f'SELECT * FROM {table_1}'
    df_1 = pd.read_sql_query(query, engine)

    query = f'SELECT * FROM {table_2}'
    df_2 = pd.read_sql_query(query, engine)

    # get the OrphaCodes that are missing from the orpha_diseases table
    missing_codes = set(df_1[id_1]) - set(df_2[id_2])
    
    # drop the rows from the clinical_annotations table that have missing OrphaCodes
    df_1 = df_1[~df_1[id_1].isin(missing_codes)]
    
    #to check that codes removed
    missing_codes = set(df_1[id_1]) - set(df_2[id_2])

    #update the clinical_annotations table in the database
    df_1.to_sql(table_1, engine, if_exists='replace', index=False)
    
    return df_1[id_1].dtypes, df_2[id_2].dtypes, missing_codes
    
remove_code_anomalies('orpha_definitions', 'orpha_diseases', 'OrphaCode','OrphaCode')

In [112]:
# Data cleaning - fixing incoherences between main disease table and clinical annotations table

def remove_code_anomalies_df_export(table_1,table_2, id_1,id_2,file_name):
    
    #connection_string = 'mysql+pymysql://root:' + pw + '@127.0.0.1:3306/orphanet'
    #engine = create_engine(connection_string)

    # load the clinical_annotations table and orpha disease table into a dataframe
    #query = f'SELECT * FROM {table_1}'
    df_1 = table_1

    
    df_2 = table_2

    # get the OrphaCodes that are missing from the orpha_diseases table
    missing_codes = set(df_1[id_1]) - set(df_2[id_2])
    
    # drop the rows from the clinical_annotations table that have missing OrphaCodes
    df_1 = df_1[~df_1[id_1].isin(missing_codes)]
    
    #to check that codes removed
    missing_codes = set(df_1[id_1]) - set(df_2[id_2])

    #update the clinical_annotations table in the database
    df_1.to_csv(f'SQL_scripts/{file_name}.csv')
    
    return df_1[id_1].dtypes, df_2[id_2].dtypes, missing_codes

In [113]:
df1=pd.read_csv('processed_data/orpha_nomenclature.csv')
df2=pd.read_csv('processed_data/orpha_linearized.csv')


remove_code_anomalies_df_export(df1, df2, 'OrphaCode','OrphaCode', file_name='orphan_nomenclature_SQL')

(dtype('int64'), dtype('int64'), set())

In [85]:

remove_code_anomalies('clinical_annotations','orphanet.orpha_diseases','OrphaCode','OrphaCode')

(dtype('int64'), dtype('int64'), set())

In [95]:

remove_code_anomalies('extracted_hpo_terms','orphanet.orpha_diseases','OrphaCode','OrphaCode')

(dtype('int64'), dtype('int64'), set())

In [86]:
remove_code_anomalies('clinical_annotations', 'HPO_ontology', 'HPO_ID','ID')

(dtype('int64'), dtype('int64'), set())

In [88]:
#Function to define froeign key

def define_FK(table,col_name_fk,  table_pk,col_name_pk):
    import config 
    pw=config.pw

    connection_string = 'mysql+pymysql://root:' + pw + '@127.0.0.1:3306/orphanet'
    engine = create_engine(connection_string)
    with engine.connect() as con:
        con.execute(f'ALTER TABLE {table} ADD FOREIGN KEY  ({col_name_fk}) REFERENCES {table_pk}({col_name_pk});')    

define_FK('orpha_definitions','OrphaCode','orphanet.orpha_diseases','OrphaCode')

In [89]:
#define foreign key in clinical annotations table
define_FK('clinical_annotations','OrphaCode','orphanet.orpha_diseases','OrphaCode')
define_FK('clinical_annotations','HPO_ID','orphanet.HPO_ontology','ID')

In [97]:
# define foreign keys in extracted hpo table
define_FK('extracted_hpo_terms','OrphaCode','orphanet.orpha_diseases','OrphaCode')
define_FK('extracted_hpo_terms','HPO_ID','orphanet.HPO_ontology','ID')

In [25]:
import config 

#conn = pymysql.connect(
#    host='@127.0.0.1:3306/',
#    user='mysql+pymysql://root:',
#    password=getpass.getpass(),
#    database='Orphanet'
#)
#pw=getpass.getpass()
connection_string = 'mysql+pymysql://root:' + pw + '@127.0.0.1:3306/orphanet'
engine = create_engine(connection_string)
with engine.connect() as con:
    con.execute('ALTER TABLE orpha_definitions DROP PRIMARY KEY;')